.container{
  width: 100rem;
  height: 50rem;
  padding: 100px 20px 10px 20px;
}

.mapBox{
  text-align: center;
  background-color: #FFF;
  /* background-color: rgb(43, 153, 43); */
  padding: 0;
  /* margin-left: -15rem;
  margin-top: -23rem; */
  /* margin-left: -750rem; */
  /* margin-right: -700rem; */
  /* margin-top: -212rem; */
  /* width: 100%; */
}

.rect {
  width: 400;
  height: 300;
  fill: transparent;
}